<% layout("layouts/boilerplate") %>  

    <link rel="stylesheet" href="/css/index.css">

    <body>
        <h1>All Listings</h1>
        <!-- <form method="GET" action="listings/new">
    <button>CREATE NEW LISTING</button>
</form> -->
        <!-- <br> -->

        <div class="container">
            <div class="row">
                <% for (let listing of allListings) { %>
                  <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/listings/<%= listing._id %>" class="card-link">
                                <img src="<%= listing.image %>" class="card-img-top" alt="...">
                                <div class="card-img-overlay"></div>
                                <div class="card-footer bg-transparent">
                                    <h6 class="card-title">
                                        <%= listing.title %>
                                    </h6>
                                    <!-- <p class="card-text">
                                        <%= listing.description %>
                                    </p> -->
                                    <h8 class="card-subtitle mb-2 text-body-secondary">
                                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                                    </h8>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

    </body>